.git
.gitignore
.dockerignore

**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/*.so
**/.pytest_cache/
**/.mypy_cache/
**/.ruff_cache/
**/.ipynb_checkpoints/

DCNv2/build/
DCNv2/dist/
DCNv2/*.egg-info/

Results/
results/
data/
models/

*.tif
*.tiff
*.img
*.jp2
*.vrt
*.ovr
*.aux.xml
*.shp
*.dbf
*.shx
*.prj
*.cpg
*.gpkg
*.geojson
*.pth
*.pt
*.ckpt
*.onnx
*.npy
*.npz

*.log
*.tmp
*.bak
